    :root {
    --cor-fundo-claro: #eeeeee;
    --cor-azul-pet: #8ccce2;
    --cor-marrom-claro: #caa86b;
    --cor-amarelo-pastel: #e6d891;
    --cor-verde-pet: #9bcc71;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0; rgb(199, 181, 161);
    padding: 0;
}
.navbar{
    position: fixed;
}
.div-da-nav{
     background-color: var(--cor-fundo-claro);
    width: 1500px;
    height: 100px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}
#Logo {
    width: 125px;
    height: auto;
}
.menu {
    display: flex; list-style: none;
    gap: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(7, 178, 4);
    margin: 0px; padding: 0px;   
    align-items: center;
}
#inicio{
    scroll-margin-top: 100px;
}
#sobre-nos{
    scroll-margin-top: 100px;
}
#servicos{
    scroll-margin-top: 100px;
}
#depoimentos{
    scroll-margin-top: 100px;
}
#feedback{
    scroll-margin-top: 100px;
}
#produtos{
    scroll-margin-top: 100px;
}
#contato{
    scroll-margin-top: 100px;
}
.conteudo {
    background-color: var(--cor-fundo-claro); 
    min-height: 400px;
    margin: 0; padding: 0;
}

.inicio {
    background-color: var(--cor-marrom-claro); 
    min-height: 150px;
    margin: 0; padding: 10px;
    text-align: center;
    min-height:400px;
    padding-top: 100px;
}
.div_inicio {
    display: flex; 
    flex: 1 2;
    gap: 10px;
    justify-content: center; align-items: center;
    margin-top: 20px;
}

#inicio-cachorro {
    border: solid 2px rgb(7, 178, 4);
    border-radius: 10px;
    width: 250px; height: 150px;
}
#texto_inicio {
    font-size: 20px; color: rgb(0, 0, 0);
    text-align: justify;
    padding: 5px;
}
.div_inicio_img {
    width: 400px; height: 250px;
    display: flex; gap: 20px;
    justify-content: center; align-items: center;
}


.sobre-nos {
    background-color: var(--cor-amarelo-pastel); 
    min-height: 400px;
    margin: 0; padding: 10px;
    text-align: center;
}
#texto_sobrenos {
    font-size: 20px; color: rgb(0, 0, 0);
    text-align: justify;
    padding: 5px;
}
.classe_sobrenos {
    display: flex; gap: 20px;
    justify-content: center; align-items: center;
}
#sobrenos1{
    width: 400px; height: 250px;
    border-radius: 5px ;
    border: 2px solid rgb(7, 178, 4);
}
#sobrenos2{
    width: 400px; height: 250px;
    border-radius: 5px ;
    border: 2px solid rgb(7, 178, 4);
    right: 300px;
}


.servicos {
    background-color: var(--cor-marrom-claro); 
    min-height: 400px;
    margin: 0; padding: 10px;
    text-align: center;
}
.conteiner_card{
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; height: 400px;

    border-radius: 8px ;
    border: 2px solid rgb(7, 178, 4);
    background-color: var(--cor-azul-pet);
    padding: 10px;
}
#img-banho-tosa {
    width: 100%; height: 200px;
    border-radius: 5px;
    margin-top: 20%;
}
#img-consulta-veterinaria{
    width: 100%; height: 200px;
    border-radius: 5px;
    margin-top: 20%;
}
#img-vacinacao {
    width: 100%; height: 200px;
    border-radius: 5px;
    margin-top: 20%;
}
.clique-aqui{
    margin-top: 10%;
    padding: 10px 20px;
    background-color: rgb(7, 178, 4);
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.depoimentos {
    background-color: var(--cor-amarelo-pastel); 
    min-height: 350px;
    margin: 0; padding: 10px;
    text-align: center;
}
#img-joao{
    width: 40%; height: 80px;
    border-radius: 30px;
    margin-top: 2%;
}
#img-nathalia{
    width: 40%; height: 80px;
    border-radius: 30px;
    margin-top: 2%;
}
#img-marcos{
    width: 40%; height: 80px;
    border-radius: 30px;
    margin-top: 2%;
}
#img-julia{
    width: 40%; height: 80px;
    border-radius: 30px;
    margin-top: 2%;
}
.cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; height: 300px;
    min-height: 400px;
    border-radius: 8px ;
    border: 2px solid rgb(7, 178, 4);
    background-color:var(--cor-azul-pet);
    padding: 10px;
   
}
.cliente-card{
    display: flex;  
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: left;
    font-size:18px;
    line-height: 1.5;
}

.footer {
    background-color: var(--cor-fundo-claro); 
    min-height: 100px;
    margin: 0; padding: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


html {
    scroll-behavior: smooth;
}

.menu a {
    text-decoration: none;
    color: rgb(7, 178, 4);
    font-family: "Lato", sans-serif;

    font-size: 18px;

    font-weight: 600;

    transition: 0.3s;

}

.font_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.feedback {
    background-color: var(--cor-marrom-claro); 
    min-height: 150px;
    margin: 0; padding: 10px;
    text-align: center;
    min-height:400px;   
}

#fbk_text{
    font-size: 20px; color: rgb(0, 0, 0);
    text-align: justify;
    padding: 5px;
}

.feedback-box {
    width: 700px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 350px;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;   
}
.botao-feedback{
    cursor: pointer;
}
.bi-whatsapp {
    color: rgb(7, 178, 4)
}
.bi-instagram {
    color: rgb(7, 178, 4)
}
.bi-facebook {
    color: rgb(7, 178, 4)
}
.bi-whatsapp a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}
.bi-instagram a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}
.bi-facebook a{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}   
.redes-sociais {
    display: flex;
    gap: 35px;
}

.loja {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--cor-amarelo-pastel);
}
.loja h1{
    grid-column: 1 / -1;
    text-align: center;
}

.card_loja {
background: var(--cor-azul-pet);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  border-color: var(--cor-verde-pet);
  border: solid 2px rgb(7, 178, 4);
}

.card_loja img{
    width: 100%;
    border-radius: 8px;
}

.card_loja button{
    background-color: var(--cor-verde-pet);
    border-radius: 10px;
    cursor: pointer;
}
.img-carrinho{
    height: 35px; width: 35px;
    color: var(--cor-verde-pet);
}
.carrinho-nav{
    position: relative;
}
.qtd-span{
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex; justify-content: center;
    align-items: center;
    top: 50%; right: -15px;
    width: 20px; height: 20px;
    position: absolute;
}
