:root {
  /* Tons pastéis e neutros da sua tabela */
  --color-gray-light: #eeeeee;
  --color-blue-light: #8ccce2;
  --color-brown-tan:  #caa86b;
  --color-yellow-sand:#e6d891;
  --color-green-leaf:  #9bcc71;
  --o-border-radius: 16px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: var(--color-gray-light);
    margin: 0;
    padding: 20px;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;         
    overflow: hidden;

}

.login-container {
    display: flex;
    align-items: center;
    gap:24px;
    max-width:900px;
    width: 800px;
    margin: 0 auto;
    background-color: var(--color-brown-tan);
    border-radius: var(--o-border-radius);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

    position: relative;
    margin: auto 0;

    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s ease;
}

.image-container {
    flex: 0 0 40%;
    background-color: white;
    border-radius: var(--o-border-radius) 0 0 var(--o-border-radius);
    height: 100%;
    margin: -1px 0px -1px -1px;
}
.image-container img {
    margin: 10px;
    width: 90%;
    height: 90%;
    display: block;
}
.login-content {
    flex: 1;
    padding: 20px 40px;

    background-color: var(--color-brown-tan);
    border-radius: var(--o-border-radius);
    transition: 0.3s ease;
}
.login-content h2 {
    margin-bottom: 20px;
    color: #333;
    background-color: var(--color-brown-tan);
}

.login-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--o-border-radius);
}
.login-content input:focus{
    border: 1px solid var(--color-blue-light); 
    outline: none; 
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.15), 0 4px 12px rgba(79, 70, 229, 0.1);
    transition: all 0.2s ease-in-out;
}

.login-content button:hover {
    background-color: rgba(39, 39, 255, 0.651);
    transform:translateY(-2px)
}

.login-content button {
    width: 90%;
    padding: 10px;
    margin: 20px 0;

            
    border: none;
    border-radius: var(--o-border-radius);
    background-color: var(--color-blue-light);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.olho {
    width: 30px;
    transform: translate(-140%, 40%);
    cursor: pointer;
}

.login-container.sumir-para-cima {
    transform: translateY(-350px);
    opacity: 0;
    pointer-events: none; 
}
.caixa-logins{
    background-color: #9fd3e6;
    width: 220px;
    border-radius: 20px;
    padding: 20px;

    position: fixed;
    top: 20px;
    right: 20px;
}

.lista-logins h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.lista{
    list-style: none;
    padding: 0;
    margin: 0;
}

.usuario{
    display: flex;
    align-items: center;

    border-bottom: 1px solid black;

    padding-bottom: 15px;
    margin-bottom: 15px;
}

.img-usuario img{
    width: 30px;
    height: 30px;
}

.texto-usuario{
    margin-left: 12px;
    text-align: left;
}

.texto-usuario p{
    margin: 3px 0;
}